*.DS_Store
*.vscode/*
*arduino_secrets.h
ConnDevClient/arduino_secrets.h
*keys.txt
ConnectedDevices/ips-2019.txt
ConnectedDevices/sql_queries.txt
*.bin
*.elf
*.hex
*.map
WiFi_ESP_examples/HttpsClientSimple_ESP/arduino_secrets.h
WiFi_ESP_examples/HttpsClientSimple_ESP_eduroam/arduino_secrets.h
