<p class="header">
  <a href="{{site.baseurl}}/#library-include-line">Library Include line</a><br />
  <a href="{{site.baseurl}}/#credentials-header-file">Credentials Header file</a><br />
  <a href="{{site.baseurl}}/#wifi-connection">WiFi Connection</a><br />
  <a href="{{site.baseurl}}/#arduino-http-clients">Arduino HTTP Clients</a><br />
  <a href="{{site.baseurl}}/#http-servers">HTTP Servers</a><br />
  <a href="{{site.baseurl}}/#tcp-and-udp-examples">TCP and UDP Examples</a><br />
  <a href="{{site.baseurl}}/#osc-examples">OSC Examples</a><br />
</p>