<p class="header">
  <a href="{{site.baseurl}}/library-include-line">Library Include line</a>
  <a href="{{site.baseurl}}/credentials-header-file">Credentials Header file</a>
  <a href="{{site.baseurl}}/wifi-connection">WiFi Connection</a>
  <a href="{{site.baseurl}}/arduino-http-clients">Arduino HTTP Clients</a>
  <a href="{{site.baseurl}}/http-servers">HTTP Servers</a>
  <a href="{{site.baseurl}}/tcp-and-udp-examples">TCP and UDP Examples</a>
  <a href="{{site.baseurl}}/osc-examples">OSC Examples</a>
</p>